@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500');

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  font-family: "Poppins";
  font-weight: 200;

}

body nav header section {
  width: 100%;
}


/* Nav bar styling */

nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding: 15px 0 0 0;
  height: 30px;
  
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.left-side {
  float: left;
  width: 40%;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
  list-style-type: none;
}

/* Header */

#search-bar {
 background-color: rgb(31, 82, 111);
 width: 100%;
 height: 60px;
}

#search-bar img {
  height: 30px;
}

#search-bar input {
  width: 100%;
  padding: 10px;
  background-color: lightblue;
  border: none;
}


.float {
  float: left;
}

.logo {
  padding: 1%;
  width: 5%;
}

.logo-bear {
  float: right;
  padding: 1%;
  width: 2%;
}

.input {
  width: 75%;
  padding: 1%;
}

.login{
  float: left;
  width: 10%;
  color: white;
  font-size: 0.9em;
  padding: 1%;
  margin: 0 0 0 0;
  text-align: right;

}

#search-bar::after {
  content:"";
  clear: both;
  display: block;
}

#amazing-content {


background-image: url(images/city-scape.svg);
background-color:  rgb(95, 82, 111);
height: 400px;
margin: 0 auto;
padding: 20px;
}

#amazing-content p {
  margin: 0 0 30px 0;
}

#amazing-content a {
  text-decoration: none;
  color: white;
}

.amazing-box {
  color: white;
  width: 40%;
  margin: 0 auto;
  position:relative;
  right: 230px;
  top: 50px;
}


#powerful-collaboration {
  background-color: rgb(39, 53, 71);
  height: 400px;
  width:100%
}

#powerful-collaboration img {
}

#powerful-collaboration a {
  text-decoration: none;
  color: white;
}

#powerful-collaboration ul {
margin: 35px 0 35px 0;
}

.collab-container {
  width: 90%;
  margin: 0 auto;
}

.collab-content {
  float: left;
  width: 42%;
  margin: 50px 90px 0 0;
  color: white;
  font-weight: 100;

}

.button {
background-color: rgb(203, 56, 55);
border-radius: 30px;
padding: 10px;
display: inline-block;
}

#what-is-npm {
margin: 0;
padding: 0;
height: 400px;

background-image: url(images/forklift.svg);
background-color:  rgb(95, 82, 111);
background-repeat: no-repeat;
background-size: auto;
}

#can-you-make {
  width: 100%;
}

#can-you-make h2 {
  text-align: center;
  font-weight: 300;
  margin: 20px 0 20px 0;
}

#can-you-make hr {
  width: 60%;
  margin: 20px auto;
}

.round-box {
  margin: 30px 0.5%;
  border: 0.5px solid lightgray;
  width: 29%;
  text-align: center;
  padding: 1.5%;
  border-radius: 10px;
  float: left;
  height: 250px
}

.intro {
  text-align: center;
  font-weight:200;

}

.clear {
  clear: both;
}

.what-is-box {
  color: white;
  width: 50%;
  position: relative;
  left: 280px;
  top: 50px;
}